# Database Config (MongoDB Atlas)
DB_USER=
DB_PASSWORD=
DB_NAME=
MONGODB_URI=

# Security
JWT_TOKEN_KEY=

# External APIs
GOOGLE_API_KEY=

# Image Manager (Openinary)
OPENINARY_URL=http://main-openinary:3000
OPENINARY_API_KEY=